body {
    margin: 0;
    background-color: #a4b3bd;
    font-family: "Lilita One", serif;
    font-style: normal;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8d8d8d;
    padding: 10px 20px;
    height: 60px;
    position: sticky;/*para que quede fijo*/
    top: 0;/*tambien para que quede fijo*/
}

.navbar-logo img {
    height: 110px;
    width: auto;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: #f5f5f5;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar-menu a:hover {
    background-color: #434141;
    border-radius: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #434141;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px;
    white-space: nowrap;
    border-bottom: 2px solid white;
}

.navbar-menu li:hover .dropdown-menu {
    display: block;
    background-color: #8d8d8d;
}

/*FIN DEL NAVBAR*/

/*INICIO - TARJETA DE PRESENTACION / PEQUEÑO RESUMEN*/

.contenedor-inicio{
    display: flex;
    padding: 25px;
    margin: 10px;
}

.tarjeta{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 19em;/*VERIFICAR*/
    text-align: center;
    border-radius: 10px;
    height: 100%;
    flex-direction: column;
}
.titulo{
    color: #f5f5f5;
    font-size: 18px;
}

#contacto-tarjeta{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f5f5f5;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 75%;
}

#foto-tarjeta{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#logo-tarjeta{
    height: 30px;
    width: 30px;
    padding: 10px;
}

#contacto-tarjeta:hover{
    opacity: 0.7;
}

.texto-inicio{
    padding: 35px;
    max-width: 450px;
    white-space: pre-wrap; /* Mantiene los saltos de línea y espacios */
    overflow: hidden; /* Oculta el texto que aún no se muestra */
    display: inline-block; /* Para que el borde solo ocupe el ancho del texto */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.texto-inicio a{
    text-decoration: none;
    color: #10505f;
}

.texto-inicio a:hover{
    color: #ffffff;
}

.texto-inicio p{
    font-size: 2em;
}


/*FIN DE INICIO - TARJETA DE PRESENTACION / PEQUEÑO RESUMEN*/

/*SOBRE MI*/
.contenedor-sobremi{
    font-family: "Carter One", serif;
}

#titulo-sobremi{
    text-align: center;
    padding-top: 60px;
    color: #f5f5f5;
}

.quien-soy{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.quien-soy div{
    text-decoration: underline;
}

.mas-de-mi{
    justify-content: center;
    padding: 20px;
}

.quien-soy ul{
    background-color: #00758f;
    color: #f5f5f5;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 5px 10px 8px 10px #888888;
    list-style: none;
}

.quien-soy p,
.mas-de-mi p {
    background-color: #00758f;
    color: #f5f5f5;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.barras{
    padding: 20px;
}

.container {
    width: 98%;
    background-color: #ffffff; /* Grey background */
    padding: 5px; 
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
  }

#img-barra{
    width: 60px;
    height: 60px;
    padding: 10px;
}

.skills {
    text-align: right; 
    color: white; /* White text color */
    max-height: 20px;
    border-radius: 10px 0 0 10px;
}

.css {
    width: 70%; 
    background-color: #2196F3;
    padding: 2px;
} 
.css-no{
    width: 18%;
    background-color: #9899a0;
    color: #9899a0;
    border-radius: 0 10px 10px 0;
} 
.js {
    width: 65%; 
    background-color: #ffdf00;
    color: black;
    padding: 2px;
} 

.js-no{
    width: 23%;
    background-color: #9899a0;
    color: #9899a0;
    border-radius: 0 10px 10px 0;
} 

.php {
    width: 61%; 
    background-color: #777bb3;
    padding: 2px;
}

.php-no{
    width: 26%;
    background-color: #9899a0;
    color: #9899a0;
    border-radius: 0 10px 10px 0;
} 

.mysql {
    width: 66%; 
    background-color: #00758f;
    padding: 2px;
} 

.mysql-no{
    width: 20%;
    background-color: #9899a0;
    color: #9899a0;
    border-radius: 0 10px 10px 0;
} 

/*FIN SOBRE MI*/

/*PROYECTOS REALIZADOS*/

.contenedor-proyectos{
    font-family: "Karla", serif;
    font-weight: 500;
}

#titulo-proyectos{
    text-align: center;
    padding: 20px;
}

.titulo-proyectos{
    text-decoration: underline;
}

.proyecto{
    display: flex;
    
    gap: 20px;
    padding: 20px;
}

.imagen-proyecto img{
    width: auto;
    height: 220px;
    border-radius: 10px;
}

#imagen{
    transition: transform 0.3s ease-in-out;
}

#imagen:hover{
    transform: scale(1.1);
}

.contenido-proyecto{
    max-width: 950px;
}

.reverse{
    flex-direction: row-reverse;
}

.spotify{
    background-color: #1DB954;
    border-radius: 15px;
    padding: 7px;
}

.openwebinars{
    background-color: #0080e9;
    border-radius: 15px;
    padding: 7px;
    color: #f5f5f5;
}

.twitter{
    background-color: #000000;
    border-radius: 15px;
    padding: 7px;
    color: #f5f5f5;
}

.youtube{
    background-color: #cb2821e9;
    border-radius: 15px;
    padding: 7px;
}


/*FIN DEPROYECTOS REALIZADOD*/

/*FORMULARIO DE CONTACTO*/

.contenedor-formulario{
    padding: 25px;
    font-family: "Sen", serif;
}

#formulario{
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    align-items: stretch;
}

#titulo-contacto{
    text-align: center;
    color: black;
}

#zona-izq{
    padding: 25px;
    background-color: #133941;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#logo-form{
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); /*CAMBIAMOS LOS LOGOS DE NEGRO A BLANCO*/
}

#zona-der{
    padding: 40px 40px;
    background-color: #358c9d;

}

#zona-der input{
    padding-top: 15px;
    display: block;
}

.apartado-formulario{
    padding: 10px;
    flex-direction: column;
}

.apartado-formulario input{
    color: #f5f5f5;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #000;
    outline: none;/*le quite el borde que se ponia al darle click, no es recomendable por lo que vi, pero se ve mejor asi(segun yo)*/
}

input::placeholder{
    color: #434141;/*con esto le cambiamos el fondo al placeholder*/
}

#primera-columna, #segunda-columna, #tercera-columna{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#boton-form{
    background-color: #133941;
    border-style: none;
    padding: 10px 25px 10px 25px;
    color: #f5f5f5;
    border-radius: 5px;
    float: right;
}

#boton-form:hover{
    background-color: #10505f;
}

/*FOOTER*/
footer {
    background-color: #8d8d8d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    width: 30px; 
    height: auto;
}
/*FIN FOOTER*/

/*EXTRA - BOTON*/

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #10505f; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555; 
}

.navbar-toggle {
    display: none; /* Oculta el botón en pantallas grandes */
    cursor: pointer;
    font-size: 24px;
    color: #f5f5f5;
}

/* RESPONSIVE??????*/
@media (max-width: 1200px) {
    .contenedor-inicio {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tarjeta {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .texto-inicio {
        max-width: 100%;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    /* Navbar responsive */
    .navbar-menu {
        display: none;
        flex-direction: column;
        background-color: #8d8d8d;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        text-align: center;
    }

    .navbar-menu a {
        padding: 10px;
    }

    .dropdown-menu {
        position: static;
        background-color: #434141;
    }

    .navbar-logo {
        margin-right: auto;
    }

    /* Botón de menú hamburguesa */
    .navbar-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #f5f5f5;
    }

    /* Sección de inicio */
    .contenedor-inicio {
        padding: 10px;
    }

    .tarjeta {
        max-width: 100%;
    }

    .texto-inicio p {
        font-size: 1.5em;
    }

    /* Sección "Sobre mí" */
    .quien-soy {
        flex-direction: column;
        gap: 10px;
    }

    .barras {
        padding: 10px;
    }

    .container {
        width: 100%;
    }

    /* Sección de proyectos */
    .proyecto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reverse {
        flex-direction: column;
    }

    .imagen-proyecto img {
        width: 100%;
        height: auto;
    }

    /* Formulario de contacto */
    #formulario {
        flex-direction: column;
    }

    #zona-izq {
        border-radius: 12px 12px 0 0;
    }

    #zona-der {
        border-radius: 0 0 12px 12px;
    }

    #primera-columna,
    #segunda-columna,
    #tercera-columna {
        flex-direction: column;
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        gap: 10px;
    }
}


@media (max-width: 480px) {
    /* Ajustes para móviles pequeños */
    .texto-inicio p {
        font-size: 1.2em;
    }

    .navbar-logo img {
        height: 80px;
    }

    #logo-tarjeta {
        height: 25px;
        width: 25px;
    }

    .social-icons img {
        width: 25px;
    }
}